    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    workspace "1" {
    }

    workspace "2" { 
    }

    window-rule {
      match title="Discord"
      open-on-workspace "2"
      // open-maximized true
    }

    window-rule {
      match title="Spotify"
      open-on-workspace "2"
      // open-maximized true
    }

    window-rule {
      match title="Obsidian"
      open-on-workspace "2"
      open-maximized true
    }

    window-rule {
      match title="Firefox"
      open-on-workspace "1"
      open-maximized true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
